.btn-position {
  margin-left: 120px;
  margin-top: 20px;
}

.main-title-position {
  margin-left: 120px;
  margin-top: 20px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #e94646;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-title-position {
    margin-left: 85px;
  }

  .btn-position {
    margin-left: 85px;
  }
}
